* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: white;
}
img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
a{
    text-decoration: none;
}
.btn {
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: rgb(178, 145, 99);
  color: white;
}
.hidden {
    display: none;
  }
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* productCard */
.productCard {
  margin-top: 4rem;
  width: 15rem;
  text-align: left;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productInfo {
  width: 100%;
  margin-top: 1rem;
}
 .toCartBtn {
  width: 50%;
  margin: 0 auto;
  padding: 0.5rem 0;
  text-align: center;
  
}

.productImg {
  width: 100%;
  border-radius: 1rem;
}


/* shopping cart */
.cartContainer {
  width: 20rem;
  max-width: 30rem;
  background-color: rgb(233, 233, 233);
  border-radius: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

#cartTitle {
  margin: 1rem 0.5rem;
}
.emptyCart {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cartProduct {
  width: 80%;
  margin: 0.3rem auto;
  border: 0.5px solid rgb(122, 91, 53);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cartProduct .unitsController {
  display: flex;
  margin: 0 1rem;
  width: 80%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.unitsController button {
  width: 2rem;
}

.prices {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.orderTotal {
  width: 80%;
  text-align: center;
  margin: 2rem auto;
  background-color: #fffafa;
}

.orderTotal .text {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.orderTotal button {
  width: 80%;
  margin: 1rem 0;
  padding: 0.5rem 0;
}
